node_modules
.idea
.vscode

# Compiled output
/dist
/tmp

package-lock.json
yarn.lock
yarn-error.log

# Local development
*.env
*.dev
.DS_Store
prettierrc.json
.eslintrc.json

# Logs
/.logs

# CSV Uploads
*.csv

# Certificates
/cert